.calendar-container {
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    font-size: 20px;
    width: 50%;
    margin: 0 auto;
  }
  
  .month-selector {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .day-name, .day {
    text-align: center;
    font-weight: 900;
    padding: 10px 0;
  }
  
  .empty {
    background: #f0f0f0;
  }
  
  .prev-month-day, .next-month-day {
    color: #cccccc;
    font-weight: 800;
  }

  .selected {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: #6100FF;
    width: 50px;
    height: 30px;
    margin: 0 auto;
  }
  
  .day {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  