.record-exercise {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .fa-arrow-left {
  font-size: 24px;
  cursor: pointer;
}

.save-button {
  width: 100px;
  height: 50px;
  background: #6100FF;
  color: white;
  border: none;
  font-size: 25px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.exercise-button, .body-record-button {
  width: 200px;
  height: 60px;
  background: white;
  color: #6100FF;
  border: none;
  font-size: 25px;
  font-weight: 1000;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.exercise-button {
  margin-right: 10px;
}

.body-record-button {
  margin-left: 10px;
  border: 5px solid #6100FF;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.record-details {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 70px;
}

.details-section {
  margin: 10px 0;
  margin-bottom: 15px;
  text-align: center;
}

.label {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.modify-button {
  padding: 12px 0;
  width: 90px;
  margin: 0 auto;
  border-radius: 20px;
  font-size: 25px;
  background-color: #6100FF;
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.value-selector {
  position: relative;
  margin-bottom: 20px;
}

.value-selector select {
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
  background-image: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' height='1em' viewBox='0 0 448 512'%3E%3Cpath d='M201.4 342.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 274.7 86.6 137.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 20px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.value-selector select option:checked {
  background-color: lightblue;
}
