.record-exercise {
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .fa-arrow-left {
  font-size: 24px;
  cursor: pointer;
}

.save-button {
  width: 100px;
  height: 50px;
  background: purple;
  color: white;
  border: none;
  font-size: 25px;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.exercise-button, .body-record-button {
  width: 200px;
  height: 60px;
  background: white;
  color: purple;
  border: none;
  font-size: 25px;
  font-weight: 1000;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.exercise-button {
  margin-right: 10px;
}

.body-record-button {
  margin-left: 10px;
  border: 5px solid purple;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.record-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  font-size: 30px;
}

.details-section {
  margin: 10px 0;
}

input[type="number"] {
  width: 100%;
  padding: 5px;
  font-size: 40px;
  border: 2px solid lightgray;
  border-radius: 5px;
  text-align: center;
}

.modify-button {
  width: 100px;
  height: 50px;
  border-radius: 10px;
  font-size: 25px;
  background: purple;
  color: white;
  border: none;
  text-align: center;
  margin-top: 100px;
  margin: 20px auto;
  display: block;
}

.value-selector select {
  width: 200px;
  height: 50px;
  font-size: 30px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.value-selector select option:checked {
  background-color: lightblue;
}
