.exercise-record-container {
    padding: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 50px;
    font-weight: 700;

}

.menu-button {
    background: none;
    border: none;
    font-size: 50px;
}

hr {
    border: 0.5px solid lightgray;
}

.record-exercise-button {
    display: block;
    width: 300px;
    border-radius: 10px;
    padding: 10px;
    background-color: purple;
    color: white;
    border: none;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
}
